In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Create DataFrame  


1) Using Lists  
2) using dicts  
3) using read_csv

The Series is 1D data where as dataframe is 2D data  

Tabular data ka ek column means series  
and otherside dataframe means Tabular data (Table)

In [2]:
# table == dataframe
bollwood = pd.read_csv('movies.csv')

In [3]:
# using lists
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]

# series ssathi jase series attribute use karto tase dataframe sathi datframe attribute use karayche
# tyanantar comma deun columns mhunun to column kasachi info deto te specify karayche
pd.DataFrame(student_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [4]:
# using dicts

student_dict = {
    'iq' :[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,3,0,0]
}

# here column will atomatically fetch by keys of dictonary

students = pd.DataFrame(student_dict)
print(students)

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        3
4    0      0        0
5    0      0        0

In [5]:
# using read_csv 
movies = pd.read_csv('movies.csv')
movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [6]:
ipl = pd.read_csv('ipl-matches.csv')

DataFrame Attributes and Methods  

1) Shape -- return the shape of table  
2) dtypes -- our table contains multiple column(Series) so             dtype for each column dtype show   
3) index -- give intire no of rows


4) columns -- returns all columns name which are present in dataframe

In [7]:
movies.shape
ipl.shape

(950, 20)

In [8]:
ipl.dtypes
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [9]:
movies.index
ipl.index

RangeIndex(start=0, stop=950, step=1)

In [10]:
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [11]:
movies.values
movies.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

DataFrame functions

1) describe -- return the mathematical summary of dataset
2) head tail -- same as series  
3) values -- return values in array form  
4) sample -- return a row by random selection  
5) info -- return missing values and datatype  

6) isnull -- returns boolean value for null is present or not

7) duplicated -- shows how many duplicated data
8) rename -- changes the name of column in table
             if we find column with random name then we can change this by 'rename' function

In [12]:
students.value_counts()

iq   marks  package
0    0      0          2
80   50     3          1
90   70     7          1
100  80     10         1
120  100    14         1
Name: count, dtype: int64

In [13]:
students.sample()

   iq  marks  package
5   0      0        0

In [14]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iq       6 non-null      int64
 1   marks    6 non-null      int64
 2   package  6 non-null      int64
dtypes: int64(3)
memory usage: 276.0 bytes

In [15]:
students.describe()

              iq       marks    package
count    6.00000    6.000000   6.000000
mean    65.00000   50.000000   5.666667
std     52.05766   41.952354   5.680376
min      0.00000    0.000000   0.000000
25%     20.00000   12.500000   0.750000
50%     85.00000   60.000000   5.000000
75%     97.50000   77.500000   9.250000
max    120.00000  100.000000  14.000000

In [16]:
ipl.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [17]:
print(students)
print("\n")
print(students.duplicated())
students.duplicated().sum()

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        3
4    0      0        0
5    0      0        0


0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

np.int64(1)

In [18]:
students

students.rename(columns={'marks':'percent','package':'LPA'})
# this is not permanant change
# to do permanant change we have to use 'inplace'

students.rename(columns={'marks':'percent','package':'LPA'},inplace=True)
# now from this the changes are permanant

In [19]:
print(students.shape)
students

(6, 3)

    iq  percent  LPA
0  100       80   10
1   90       70    7
2  120      100   14
3   80       50    3
4    0        0    0
5    0        0    0

In [20]:
# values() return kartana numpy array return kartay pan tyamadhe list store aste