Maths Methods

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movie = pd.read_csv('movies.csv')

In [3]:
movie.count()

title_x             1629
imdb_id             1629
poster_path         1526
wiki_link           1629
title_y             1629
original_title      1629
is_adult            1629
year_of_release     1629
runtime             1629
genres              1629
imdb_rating         1629
imdb_votes          1629
story               1609
summary             1629
tagline              557
actors              1624
wins_nominations     707
release_date        1522
dtype: int64

In [4]:
student_dict = {
    'iq' :[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,3,0,0]
}

student = pd.DataFrame(student_dict)
student.rename(columns={'marks':'percent','package':'lpa'},inplace=True)
student.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [5]:
student.sum(axis=1)  #here row wise some is occured
student.sum(axis=0)  #here column wise some is occured

#   1 for rows
#   0 for column

# for pandas the logic reversed

iq         390
percent    300
lpa         34
dtype: int64

In [6]:
student.mean(axis=1) #row wise
student.mean(axis=0) #column wise

iq         65.000000
percent    50.000000
lpa         5.666667
dtype: float64

In [7]:
# DataFrame === Table

In [8]:
# to fetch one row from table
movie['title_x']  # this is now series if we fetch one row from table
type(movie['year_of_release'])

pandas.core.series.Series

NoTe

1. Single column fetch zala tar Series madhe asnar   


2. multiple column fetch zal tar DataFrame madhe asanar

In [9]:
# to fetch multiple columns
# we use fancy indexing
movie[['title_x','title_y']]

# jis order hamne data columns ko mangaya hai usi column mai oo data aayega

                                   title_x                        title_y
0                 Uri: The Surgical Strike       Uri: The Surgical Strike
1                            Battalion 609                  Battalion 609
2     The Accidental Prime Minister (film)  The Accidental Prime Minister
3                          Why Cheat India                Why Cheat India
4                          Evening Shadows                Evening Shadows
...                                    ...                            ...
1624                 Tera Mera Saath Rahen          Tera Mera Saath Rahen
1625                  Yeh Zindagi Ka Safar           Yeh Zindagi Ka Safar
1626                       Sabse Bada Sukh                Sabse Bada Sukh
1627                                 Daaka                          Daaka
1628                              Humsafar                       Humsafar

[1629 rows x 2 columns]

In [10]:
ipl = pd.read_csv('ipl-matches.csv')
ipl[['Team1','Team2','WinningTeam']]

,Team1,Team2,WinningTeam
0,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
2,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore
3,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,Sunrisers Hyderabad,Punjab Kings,Punjab Kings
...,...,...,...
945,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
946,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
947,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
948,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
949,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

In [11]:
# how to fetch rows

student_dict = {
    'name' :['nitesh','ankit','ankita','rishbh','amit','shah'],
    'iq' :[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,3,0,0]
}

student = pd.DataFrame(student_dict)
student

     name   iq  marks  package
0  nitesh  100     80       10
1   ankit   90     70        7
2  ankita  120    100       14
3  rishbh   80     50        3
4    amit    0      0        0
5    shah    0      0        0

In [12]:
student.set_index('name',inplace=True)

In [13]:
student

         iq  marks  package
name
nitesh  100     80       10
ankit    90     70        7
ankita  120    100       14
rishbh   80     50        3
amit      0      0        0
shah      0      0        0

In [14]:
# Fetching A rows from table

Selection Rows from a dataFrame

- iloc -- searches using index positions (last wala not included)
- loc --  searches using index labels  (last wala included)


iloc use karatana index number dyayche   
loc use karatana name dyayche


jar dhonhi pahije madhe pahije asel tar
movie.loc[0:2,'title_x':'poster_path']


he use karayche

In [22]:
# single row
movie.iloc[0]  # if we get single row or column then it will be a Series

title_x                                      Uri: The Surgical Strike
imdb_id                                                     tt8291224
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/Uri:_The_Surgica...
title_y                                      Uri: The Surgical Strike
original_title                               Uri: The Surgical Strike
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           138
genres                                               Action|Drama|War
imdb_rating                                                       8.4
imdb_votes                                                      35112
story               Divided over five chapters  the film chronicle...
summary             Indian army special forces execute a covert op...
tagline                                                           NaN
actors              Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
wins_nominations                                               4 wins
release_date                                    11 January 2019 (USA)
Name: 0, dtype: object

In [16]:
# multiple rows
movie.iloc[0:5:2]
movie.iloc[0:]
movie.iloc[:5]
movie.iloc[[0,4,5]]  #fancy indexing
# now this is dataFrame

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
5,Soni (film),tt6078866,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Soni_(film),Soni,Soni,0,2018,97,Drama,7.2,1595,Soni a young policewoman in Delhi and her su...,While fighting crimes against women in Delhi ...,NaN,Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...,3 wins & 5 nominations,18 January 2019 (USA)

In [23]:
student.loc['nitesh':'rishbh']
student
# student

         iq  marks  package
name
nitesh  100     80       10
ankit    90     70        7
ankita  120    100       14
rishbh   80     50        3
amit      0      0        0
shah      0      0        0

In [18]:
student['iq']

name
nitesh    100
ankit      90
ankita    120
rishbh     80
amit        0
shah        0
Name: iq, dtype: int64

In [19]:
student.iloc[0]

iq         100
marks       80
package     10
Name: nitesh, dtype: int64

- To select Both from row and column

In [20]:
movie.iloc[0:3,0:3]

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...

In [21]:
student.iloc[0:3,0:3]
movie.loc[0:2,'title_x':'poster_path']

,title_x,imdb_id,poster_path
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...
1,Battalion 609,tt9472208,NaN
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...

see video of dataframe on 1:09:20 min


pandas Always provides an index  
it doesnot matter you provided or not


pandas internally vegle use karnar 0,1,2,3,   
ani user ne jar vegle dile tar tyanusar operate honar   

internally index cha use honar tehva 'iloc' use karaycha ani  
user jevha operate karnar tevha 'loc' use karaycha