IMPORTANT   

@ Groupby is special datatype

In [1]:
import numpy as np
import pandas as pd

In [2]:
movie = pd.read_csv('imdb-top-1000.csv')
len(movie)
movie.count()

Series_Title     1000
Released_Year    1000
Runtime          1000
Genre            1000
IMDB_Rating      1000
Director         1000
Star1            1000
No_of_Votes      1000
Gross            1000
Metascore         843
dtype: int64

Groupby apply on categorical data.  
the data which is defined by category.

In [3]:
genres = movie.groupby('Genre')
# groupby accept column name in ('') this

In [4]:
genres

In [5]:
# applyinh builin aggregation function on groupby objects
genres.min()
# we can apply all agregate function on group by object

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [6]:
# find the top genre by total earning
x = movie.groupby('Genre').sum()['Gross']
# yethe gross earing cha column fetch kela 
# ata sorting he value chya bases var karnar 
y = x.sort_values(ascending=False).head(3) 
y

# another method -> useful
movie.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [7]:
# find the genre with highest avg IMDB rating
movie.groupby('Genre')['IMDB_Rating'].max().head(3)

# yethe pahila IMDB cha column fetch kela
# nantar tyavar agregate function use karayche

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Name: IMDB_Rating, dtype: float64

In [8]:
# find the genre with highest avg imdb rating
# to find avg we how to use mean
movie.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [9]:
# find director with most popularity 
movie.head(1)
movie.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [6]:
# find the highest rated movie of each genre
movie.groupby('Genre')['IMDB_Rating'].max().sort_values(ascending=False).head(1)
# we will do next time

Genre
Drama    9.3
Name: IMDB_Rating, dtype: float64

In [11]:
# find number of movies done by each actor
movie['Star1'].value_counts().sort_values(ascending=False).head(3)

# another method
movie.groupby('Star1')['Series_Title'].count().sort_values(ascending=False).head(3)

Star1
Tom Hanks         12
Robert De Niro    11
Clint Eastwood    10
Name: Series_Title, dtype: int64

@ step to solve these type of question 
  
    1. groupby on perticular column which you want   
    2. desired column to fetch answer   
    3. use aggregate function  
    4. uses sort_value(ascending=False)

@ Groupby Attribute and methods

  1) find total number of groups  -> len (no of groups make) 
  2) find item in each group -> size  
  3) first()/ last() -> nth item   
  4) get_group -> vs filtering   
  5) groups  
  6) describe
  7) sample
  8) nunique()  -> will give count of total unique column

In [12]:
# all imp methods and functions

len(movie.groupby('Genre'))  # (14)
movie['Genre'].nunique()   # (14)
movie.groupby('Genre').size()
movie['Genre'].value_counts()

genres = movie.groupby('Genre')

genres.first()
genres.last()
genres.nth(7) # index is 8 

genres.get_group('Horror')  # means it will return all movies present in that genres
movie[movie['Genre'] == 'Fantasy']  # same result 
# but get_group is do it in better way

genres.groups  # give a dict of index with perticular groupby

genres.describe()  # same as series and dataframe

genres.sample()
# genres.sample(2,replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
130,K.G.F: Chapter 1,2018,156,Action,8.2,Prashanth Neel,Yash,36680,811875821.0,NaN
873,The African Queen,1951,105,Adventure,7.7,John Huston,Humphrey Bogart,71481,536118.0,91.0
378,The Incredibles,2004,115,Animation,8.0,Brad Bird,Craig T. Nelson,657047,261441092.0,90.0
215,12 Years a Slave,2013,134,Biography,8.1,Steve McQueen,Chiwetel Ejiofor,640533,56671993.0,96.0
563,His Girl Friday,1940,92,Comedy,7.9,Howard Hawks,Cary Grant,53667,296000.0,NaN
364,Sin City,2005,124,Crime,8.0,Frank Miller,Quentin Tarantino,738512,74103820.0,74.0
347,The Help,2011,146,Drama,8.0,Tate Taylor,Emma Stone,428521,169708112.0,62.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
220,Kahaani,2012,122,Mystery,8.1,Sujoy Ghosh,Vidya Balan,57806,1035953.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [13]:
# aggregate function
# flexibility
#  by passing dict

genres.agg(
    {
        'Runtime' : 'mean',
        'IMDB_Rating': 'mean',
        'No_of_Votes': 'sum',
        'Metascore' : 'min'
    }
)

              Runtime  IMDB_Rating  No_of_Votes  Metascore
Genre
Action     129.046512     7.949419     72282412       33.0
Adventure  134.111111     7.937500     22576163       41.0
Animation   99.585366     7.930488     21978630       61.0
Biography  136.022727     7.938636     24006844       48.0
Comedy     112.129032     7.901290     27620327       45.0
Crime      126.392523     8.016822     33533615       47.0
Drama      124.737024     7.957439     61367304       28.0
Family     107.500000     7.800000       551221       67.0
Fantasy     85.000000     8.000000       146222        NaN
Film-Noir  104.000000     7.966667       367215       94.0
Horror     102.090909     7.909091      3742556       46.0
Mystery    119.083333     7.975000      4203004       52.0
Thriller   108.000000     7.800000        27733       81.0
Western    148.250000     8.350000      1289665       69.0

In [14]:
# by passing list
genres.agg(['min','max','sum'])
# it consist more information

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                                \
                                           max
Genre
Action                                 Yôjinbô
Adventure                           Zombieland
Animation          Ôkami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        À bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                                             Released_Year  \
                                                         sum           min
Genre
Action     The Dark KnightThe Lord of the Rings: The Retu...          1924
Adventure  InterstellarBack to the FutureInglourious Bast...          1925
Animation  Sen to Chihiro no kamikakushiThe Lion KingHota...          1940
Biography  Schindler's ListGoodfellasHamiltonThe Intoucha...          1928
Comedy     GisaengchungLa vita è bellaModern TimesCity Li...          1921
Crime      The GodfatherThe Godfather: Part II12 Angry Me...          1931
Drama      The Shawshank RedemptionFight ClubForrest Gump...          1925
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...          1971
Fantasy                Das Cabinet des Dr. CaligariNosferatu          1920
Film-Noir   The Third ManThe Maltese FalconShadow of a Doubt          1941
Horror     PsychoAlienThe ThingThe ExorcistNight of the L...          1933
Mystery    MementoRear WindowVertigoShutter IslandKahaani...          1938
Thriller                                     Wait Until Dark          1967
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...          1965

                                                                   Runtime  \
            max                                                sum     min
Genre
Action     2019  2008200320102001200219991980197719621954200019...      45
Adventure    PG  2014198520091981196819621959201319751963194819...      88
Animation  2020  2001199419882016201820172008199719952019200920...      71
Biography  2020  1993199020202011200220171995198420182013201320...      93
Comedy     2020  2019199719361931200919641940200120001973196019...      68
Crime      2019  1972197419571994200219991995199120192006199519...      80
Drama      2020  1994199919941975202019981946201420061998198819...      64
Family     1982                                           19821971     100
Fantasy    1922                                           19201922      76
Film-Noir  1949                                       194919411943     100
Horror     2017       19601979198219731968196120171978193320042001      71
Mystery    2012   200019541958201020121995197219381988201219981997      96
Thriller   1967                                               1967     108
Western    1976                                   1966196819651976     132

                      IMDB_Rating  ...  \
           max    sum         min  ...
Genre                              ...
Action     321  22196         7.6  ...
Adventure  228   9656         7.6  ...
Animation  137   8166         7.6  ...
Biography  209  11970         7.6  ...
Comedy     188  17380         7.6  ...
Crime      229  13524         7.6  ...
Drama      242  36049         7.6  ...
Family     115    215         7.8  ...
Fantasy     94    170         7.9  ...
Film-Noir  108    312         7.8  ...
Horror     122   1123         7.6  ...
Mystery    138   1429         7.6  ...
Thriller   108    108         7.8  ...
Western    165    593         7.8  ...

                                                       Star1 No_of_Votes  \
                                                         sum         min
Genre
Action     Christian BaleElijah WoodLeonardo DiCaprioElij...       25312
Adventure  Matthew McConaugheyMichael J. FoxBrad PittJürg...       29999
Animation  Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...       25229
Biography  Liam NeesonRobert De NiroLin-Manuel MirandaÉri...       27254
Comedy     Kang-ho SongRoberto BenigniCharles ChaplinChar...       26337
Crime      Marlon BrandoAl PacinoHenry FondaJohn Travolta...       27712
Drama      Tim RobbinsBrad PittTom HanksJack NicholsonSur...       25088
Family                               Henry ThomasGene Wilder      178731
Fantasy                             Werner KraussMax Schreck       57428
Film-Noir           Orson WellesHumphrey BogartTeresa Wright       59556
Horror     Anthony PerkinsSigourney WeaverKurt RussellEll...       27007
Mystery    Guy PearceJames StewartJames StewartLeonardo D...       33982
Thriller                                      Audrey Hepburn       27733
Western    Clint EastwoodHenry FondaClint EastwoodClint E...       65659

                                    Gross                             \
               max       sum          min          max           sum
Genre
Action     2303232  72282412       3296.0  936662225.0  3.263226e+10
Adventure  1512360  22576163      61001.0  874211619.0  9.496922e+09
Animation   999790  21978630     128985.0  873839108.0  1.463147e+10
Biography  1213505  24006844      21877.0  753585104.0  8.276358e+09
Comedy      939631  27620327       1305.0  886752933.0  1.566387e+10
Crime      1826188  33533615       6013.0  790482117.0  8.452632e+09
Drama      2343110  61367304       3600.0  924558264.0  3.540997e+10
Family      372490    551221    4000000.0  435110554.0  4.391106e+08
Fantasy      88794    146222  337574718.0  445151978.0  7.827267e+08
Film-Noir   158731    367215     449191.0  123353292.0  1.259105e+08
Horror      787806   3742556      89029.0  298791505.0  1.034649e+09
Mystery    1129894   4203004    1035953.0  474203697.0  1.256417e+09
Thriller     27733     27733   17550741.0   17550741.0  1.755074e+07
Western     688390   1289665    5321508.0   31800000.0  5.822151e+07

          Metascore
                min    max      sum
Genre
Action         33.0   98.0  10499.0
Adventure      41.0  100.0   5020.0
Animation      61.0   96.0   6082.0
Biography      48.0   97.0   6023.0
Comedy         45.0   99.0   9840.0
Crime          47.0  100.0   6706.0
Drama          28.0  100.0  19208.0
Family         67.0   91.0    158.0
Fantasy         NaN    NaN      0.0
Film-Noir      94.0   97.0    287.0
Horror         46.0   97.0    880.0
Mystery        52.0  100.0    633.0
Thriller       81.0   81.0     81.0
Western        69.0   90.0    313.0

[14 rows x 27 columns]

In [15]:
# adding both list + dict
genres.agg(
    {
        'Runtime' : ['mean','max'],
        'IMDB_Rating': ['mean','min'],
        'No_of_Votes': ['sum','min'],
        'Metascore' : ['min','min']
    }
)

              Runtime      IMDB_Rating      No_of_Votes         Metascore  \
                 mean  max        mean  min         sum     min       min
Genre
Action     129.046512  321    7.949419  7.6    72282412   25312      33.0
Adventure  134.111111  228    7.937500  7.6    22576163   29999      41.0
Animation   99.585366  137    7.930488  7.6    21978630   25229      61.0
Biography  136.022727  209    7.938636  7.6    24006844   27254      48.0
Comedy     112.129032  188    7.901290  7.6    27620327   26337      45.0
Crime      126.392523  229    8.016822  7.6    33533615   27712      47.0
Drama      124.737024  242    7.957439  7.6    61367304   25088      28.0
Family     107.500000  115    7.800000  7.8      551221  178731      67.0
Fantasy     85.000000   94    8.000000  7.9      146222   57428       NaN
Film-Noir  104.000000  108    7.966667  7.8      367215   59556      94.0
Horror     102.090909  122    7.909091  7.6     3742556   27007      46.0
Mystery    119.083333  138    7.975000  7.6     4203004   33982      52.0
Thriller   108.000000  108    7.800000  7.8       27733   27733      81.0
Western    148.250000  165    8.350000  7.8     1289665   65659      69.0


            min
Genre
Action     33.0
Adventure  41.0
Animation  61.0
Biography  48.0
Comedy     45.0
Crime      47.0
Drama      28.0
Family     67.0
Fantasy     NaN
Film-Noir  94.0
Horror     46.0
Mystery    52.0
Thriller   81.0
Western    69.0

In [16]:
# looping in groups
for group,data in genres:
    print(group)
    
# find the highest rated movie of each genre
# df = pd.DataFrame(columns=movie.columns)
# for group,data in genres:
#     df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
    
# df

# find the highest rated movie of each genre
df_best = movie.loc[movie.groupby('Genre')['IMDB_Rating'].idxmax()]
df_best

Action
Adventure
Animation
Biography
Comedy
Crime
Drama
Family
Fantasy
Film-Noir
Horror
Mystery
Thriller
Western

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [17]:
# to make empty dataframe

x = pd.DataFrame([])
x

Empty DataFrame
Columns: []
Index: []

In [90]:
# split (apply) combine -> strategy
# apply -> builtin function

genres.apply(min).head(5)

C:\Users\soura\AppData\Local\Temp\ipykernel_3280\738730674.py:4: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genres.apply(min).head(5)
C:\Users\soura\AppData\Local\Temp\ipykernel_3280\738730674.py:4: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(min).head(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN

In [89]:
# find number of movies starting with 'A' for each group 
def foo(group):
    return group['Series_Title'].str.startswith('A').sum()
    
genres.apply(foo).head(5)

C:\Users\soura\AppData\Local\Temp\ipykernel_3280\2733549773.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(foo).head(5)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
dtype: int64

In [88]:
# find ranking od each movie in the group according to IMDB_Score
def rank_movies(group):
    group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
    return group
genres.apply(rank_movies).head(5)

C:\Users\soura\AppData\Local\Temp\ipykernel_3280\2316640302.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(rank_movies).head(5)

                                                Series_Title Released_Year  \
Genre
Action 2                                     The Dark Knight          2008
       5       The Lord of the Rings: The Return of the King          2003
       8                                           Inception          2010
       10  The Lord of the Rings: The Fellowship of the Ring          2001
       13              The Lord of the Rings: The Two Towers          2002

           Runtime   Genre  IMDB_Rating           Director              Star1  \
Genre
Action 2       152  Action          9.0  Christopher Nolan     Christian Bale
       5       201  Action          8.9      Peter Jackson        Elijah Wood
       8       148  Action          8.8  Christopher Nolan  Leonardo DiCaprio
       10      178  Action          8.8      Peter Jackson        Elijah Wood
       13      179  Action          8.7      Peter Jackson        Elijah Wood

           No_of_Votes        Gross  Metascore  genre_rank
Genre
Action 2       2303232  534858444.0       84.0         1.0
       5       1642758  377845905.0       94.0         2.0
       8       2067042  292576195.0       74.0         3.5
       10      1661481  315544750.0       92.0         3.5
       13      1485555  342551365.0       87.0         6.0

In [87]:
# find normalized IMDB rating group 
#  (x- xmin) / (x - xmax) 
def normal(group):
    group['norm_rating'] =  (group['IMDB_Rating'] - group['IMDB_Rating'].min()) / (group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

genres.apply(normal).head(4)

# it will return old dataframe with this new column

C:\Users\soura\AppData\Local\Temp\ipykernel_3280\1524158085.py:7: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(normal).head(4)

                                                Series_Title Released_Year  \
Genre
Action 2                                     The Dark Knight          2008
       5       The Lord of the Rings: The Return of the King          2003
       8                                           Inception          2010
       10  The Lord of the Rings: The Fellowship of the Ring          2001

           Runtime   Genre  IMDB_Rating           Director              Star1  \
Genre
Action 2       152  Action          9.0  Christopher Nolan     Christian Bale
       5       201  Action          8.9      Peter Jackson        Elijah Wood
       8       148  Action          8.8  Christopher Nolan  Leonardo DiCaprio
       10      178  Action          8.8      Peter Jackson        Elijah Wood

           No_of_Votes        Gross  Metascore  norm_rating
Genre
Action 2       2303232  534858444.0       84.0     1.000000
       5       1642758  377845905.0       94.0     0.928571
       8       2067042  292576195.0       74.0     0.857143
       10      1661481  315544750.0       92.0     0.857143

In [22]:
# now we see group by on multiple columns
# before this we see only group by on single column that is genre

# condition is both column must be categorical

duo = movie.groupby(['Director','Star1'])
duo.size()

duo.get_group(('Aamir Khan','Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [23]:
# find most earning actor->director combo
duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

In [24]:
# find the best(in-terms of metascore(avg))  actor->genre combo

movie.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False).head(1)
# reset index mule series hi datafrane madhe convert zali

              Star1  Genre  Metascore
230  Ellar Coltrane  Drama      100.0

In [25]:
# aggregate function
# see agg function documatation
duo.agg(['min','max'])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                         Runtime           Genre             \
                                     max     min  max        min        max
Director            Star1
Aamir Khan          Amole Gupte     2007     165  165      Drama      Drama
Aaron Sorkin        Eddie Redmayne  2020     129  129      Drama      Drama
Abdellatif Kechiche Léa Seydoux     2013     180  180      Drama      Drama
Abhishek Chaubey    Shahid Kapoor   2016     148  148     Action     Action
Abhishek Kapoor     Amit Sadh       2013     130  130      Drama      Drama
...                                  ...     ...  ...        ...        ...
Zaza Urushadze      Lembit Ulfsak   2013      87   87      Drama      Drama
Zoya Akhtar         Hrithik Roshan  2011     155  155     Comedy     Comedy
                    Vijay Varma     2019     154  154      Drama      Drama
Çagan Irmak         Çetin Tekindor  2005     112  112      Drama      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004     127  127  Adventure  Adventure

                                   IMDB_Rating      No_of_Votes          \
                                           min  max         min     max
Director            Star1
Aamir Khan          Amole Gupte            8.4  8.4      168895  168895
Aaron Sorkin        Eddie Redmayne         7.8  7.8       89896   89896
Abdellatif Kechiche Léa Seydoux            7.7  7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor          7.8  7.8       27175   27175
Abhishek Kapoor     Amit Sadh              7.7  7.7       32628   32628
...                                        ...  ...         ...     ...
Zaza Urushadze      Lembit Ulfsak          8.2  8.2       40382   40382
Zoya Akhtar         Hrithik Roshan         8.1  8.1       67927   67927
                    Vijay Varma            8.0  8.0       31886   31886
Çagan Irmak         Çetin Tekindor         8.3  8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz             8.0  8.0       56960   56960

                                          Gross              Metascore
                                            min          max       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869.0    1223869.0       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410.0  853090410.0      77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675.0    2199675.0      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303.0  218428303.0       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527.0    1122527.0      40.0  40.0
...                                         ...          ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501.0     144501.0      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485.0    3108485.0       NaN   NaN
                    Vijay Varma       5566534.0    5566534.0      65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363.0  461855363.0       NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077.0  196206077.0       NaN   NaN

[898 rows x 16 columns]

@ Exercise

In [42]:
ipl = pd.read_csv('deliveries.csv') 
ipl.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [29]:
ipl.shape

(179078, 21)

In [38]:
# find the 10 batsman with most runs
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [55]:
size = ipl[ipl['batsman_runs'] == 6]

size.groupby('batsman')['batsman'].count().sort_values(ascending=False)
size.groupby('batsman')['batsman'].value_counts().sort_values(ascending=False)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
                 ...
CK Langeveldt       1
JDS Neesham         1
SK Trivedi          1
D Shorey            1
MN van Wyk          1
Name: count, Length: 336, dtype: int64

In [66]:
# find the batman with most number of 4s and 6s in last 5 overs

temp_df = ipl[ipl['over'] > 15]
overs=temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]
overs.groupby('batsman')['batsman'].value_counts().sort_values(ascending=False).head(1).index[0]

# pahila fitering karaychi nantar

'MS Dhoni'

In [81]:
# # find V kolhi's record againset all teams
batter = ipl[ipl['batsman'] == 'V Kohli']
batter.groupby('bowling_team')['batsman_runs'].sum().reset_index().head(5)

          bowling_team  batsman_runs
0  Chennai Super Kings           749
1      Deccan Chargers           306
2       Delhi Capitals            66
3     Delhi Daredevils           763
4        Gujarat Lions           283

In [ ]:
# same question in that you have to find 6s and 4s by V kohli againset all team
# hint loop

In [85]:
# create a function that can return the highest score of any batsman

def high(batsman):
    temp_df = ipl[ipl['batsman'] == batsman]
    return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending = False).head(1).values[0]
     
high('DA Warner')

np.int64(126)