In [1]:
import pandas as pd
import numpy as np

In [2]:
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
# pd.DataFrame(index_val,columns=['branch','year'])
a = pd.Series([1,2,3,4,5,6,7,8],index=index_val)
a
a[('cse',2022)]

# this is not correct way to fetch the data from multiindex

np.int64(4)

In [3]:
# the problem

In [4]:
# the solution -> multiindex series(also known as hierarchical indexing)
# multiple index levels within a single index

In [5]:
# how to create multiindex series
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

multiindex.levels[0]
multiindex.levels[1]

# this is the correct way to display multiindex

Index([2019, 2020, 2021, 2022], dtype='int64')

In [6]:
pd.MultiIndex.from_product([['cse','ese'],
                            [2019,2020,2021,2022]])

# the function does cartesion product in 2d array

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ese', 2019),
            ('ese', 2020),
            ('ese', 2021),
            ('ese', 2022)],
           )

In [7]:
# hierachical indexing....
s = pd.Series([1,2,3,4,5,6,7,8],index=multiindex)

In [8]:
# the pros of multiindexing is that 
# we can fetch the items from such a series in any way
s[('cse',2021)]

# multiindexing is 2d
#

np.int64(3)

In [9]:
# unstack use karke hum multiindex series ko convert kar sakte hai dataframe mai
# unstack used for mulltiindex series -> dataframe

x = s.unstack()
# type(s.unstack())
x

     2019  2020  2021  2022
cse     1     2     3     4
ese     5     6     7     8

In [10]:
# stack used for dataframe -> multiindex series
s = x.stack()
s

cse  2019    1
     2020    2
     2021    3
     2022    4
ese  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

In [11]:
# we can easily convert series to dataframe
# so why should we do multiindexing

# from multindexing we show that higher dimention data with low dimension

In [12]:
branch_df = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16]
],index=multiindex,
    columns=['avg_package','students'])
branch_df

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [13]:
print(branch_df.loc['cse'])
branch_df.loc['cse']
branch_df.loc['ese']

branch_df.loc[:'avg_package']
# loc means we fetching data through label

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

Empty DataFrame
Columns: [avg_package, students]
Index: []

In [14]:
branch_df.loc[:'avg_package']
branch_df['avg_package']

cse  2019     1
     2020     3
     2021     5
     2022     7
ese  2019     9
     2020    11
     2021    13
     2022    15
Name: avg_package, dtype: int64

In [15]:
# pandas mai jo code likha huya hai oo row and columns ko ek jesa treat karta hai

# eska matlab abhi tak humne multi index dataframe sirf rowa ke liye likha,
# usi tarah hum multi-index dataframe columns ko bhi apply kar sakte hai

branch_df1 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0,],
        [5,6,0,0],
        [7,8,0,0]
    ],
    index=[2019,2020,2021,2022],
    columns=pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','stuudents']])
)

branch_df1

           delhi                mumbai
     avg_package stuudents avg_package stuudents
2019           1         2           0         0
2020           3         4           0         0
2021           5         6           0         0
2022           7         8           0         0

In [16]:
# sirf hame delhi ka data chahie to hum branch_df1[''] karange
# or hume jab branch_df1[''][''] tab hum e use karenge
branch_df1['mumbai']['avg_package']

# upper vala sub column ke basis par fetch karne ke liye hai
# jab row wise fetch karna hoga tab
# tab hame label wise data fetch karana hoga
branch_df1.loc[2019]

delhi   avg_package    1
        stuudents      2
mumbai  avg_package    0
        stuudents      0
Name: 2019, dtype: int64

In [17]:
#  multi-index dataframe in terms of both cols and rows(index)

branch_df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index=multiindex,
    columns=pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','stuudents']])
)

branch_df2 
branch_df2

# this is 4d type data
# but here used two dimensional dataframe for represent it
# the best benifit to use multidimensional data is that ::
# we can represent higher dimensional data into lower dimesional

               delhi                mumbai
         avg_package stuudents avg_package stuudents
cse 2019           1         2           0         0
    2020           3         4           0         0
    2021           5         6           0         0
    2022           7         8           0         0
ese 2019           9        10           0         0
    2020          11        12           0         0
    2021          13        14           0         0
    2022          15        16           0         0

##### Stacking and unstacking

In [18]:
print(branch_df)
branch_df.unstack().unstack()
# unstack will convert row by col
# in easy way :: row ko nikal deto hai or use col bana deta hai
branch_df.unstack().stack()
branch_df.unstack().stack().stack()

# stack kele ki col che row madhe conversion hote

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

C:\Users\soura\AppData\Local\Temp\ipykernel_13016\3019258664.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df.unstack().stack()
C:\Users\soura\AppData\Local\Temp\ipykernel_13016\3019258664.py:6: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df.unstack().stack().stack()

cse  2019  avg_package     1
           students        2
     2020  avg_package     3
           students        4
     2021  avg_package     5
           students        6
     2022  avg_package     7
           students        8
ese  2019  avg_package     9
           students       10
     2020  avg_package    11
           students       12
     2021  avg_package    13
           students       14
     2022  avg_package    15
           students       16
dtype: int64

In [19]:
branch_df1.unstack()
# series have no object as stack()
# row che indexx column madhe shift honar

branch_df1.stack()
branch_df1.stack().stack()  # yethe rahilele col amdhale item row madhe honar
# branch_df1
# column che index row madhe shift honar

C:\Users\soura\AppData\Local\Temp\ipykernel_13016\2246999024.py:5: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df1.stack()
C:\Users\soura\AppData\Local\Temp\ipykernel_13016\2246999024.py:6: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df1.stack().stack()  # yethe rahilele col amdhale item row madhe honar

2019  avg_package  delhi     1
                   mumbai    0
      stuudents    delhi     2
                   mumbai    0
2020  avg_package  delhi     3
                   mumbai    0
      stuudents    delhi     4
                   mumbai    0
2021  avg_package  delhi     5
                   mumbai    0
      stuudents    delhi     6
                   mumbai    0
2022  avg_package  delhi     7
                   mumbai    0
      stuudents    delhi     8
                   mumbai    0
dtype: int64

In [20]:
# 4d data
print(branch_df2)
branch_df2.unstack().unstack()  # 4 level series
# branch_df2.stack()

               delhi                mumbai
         avg_package stuudents avg_package stuudents
cse 2019           1         2           0         0
    2020           3         4           0         0
    2021           5         6           0         0
    2022           7         8           0         0
ese 2019           9        10           0         0
    2020          11        12           0         0
    2021          13        14           0         0
    2022          15        16           0         0

delhi   avg_package  2019  cse     1
                           ese     9
                     2020  cse     3
                           ese    11
                     2021  cse     5
                           ese    13
                     2022  cse     7
                           ese    15
        stuudents    2019  cse     2
                           ese    10
                     2020  cse     4
                           ese    12
                     2021  cse     6
                           ese    14
                     2022  cse     8
                           ese    16
mumbai  avg_package  2019  cse     0
                           ese     0
                     2020  cse     0
                           ese     0
                     2021  cse     0
                           ese     0
                     2022  cse     0
                           ese     0
        stuudents    2019  cse     0
                           ese     0
                     2020  cse     0
                           ese     0
                     2021  cse     0
                           ese     0
                     2022  cse     0
                           ese     0
dtype: int64

Working With multi-indexing

In [21]:
# head and tail
# shape
# info
# duplicated -> isnull

# head and tail
branch_df.head(2)
branch_df.tail(2)

# shape (will give shape in term of row and col)
branch_df.shape

# info
branch_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('cse', np.int64(2019)) to ('ese', np.int64(2022))
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   avg_package  8 non-null      int64
 1   students     8 non-null      int64
dtypes: int64(2)
memory usage: 804.0+ bytes

In [22]:
# exacting rows single
branch_df2
branch_df2.loc[('cse',2022)]

delhi   avg_package    7
        stuudents      8
mumbai  avg_package    0
        stuudents      0
Name: (cse, 2022), dtype: int64

In [23]:
# exacting multiple rows
# same as numpy reverse a[::-1]
branch_df2.loc[('cse',2019):('ese',2020):2]
branch_df2.iloc[0:5:2]

               delhi                mumbai
         avg_package stuudents avg_package stuudents
cse 2019           1         2           0         0
    2021           5         6           0         0
ese 2019           9        10           0         0

In [24]:
a = np.array((1,2,3,4,5))
a[::-1]

array([5, 4, 3, 2, 1])

In [25]:
# exacting col
branch_df2['delhi']

          avg_package  stuudents
cse 2019            1          2
    2020            3          4
    2021            5          6
    2022            7          8
ese 2019            9         10
    2020           11         12
    2021           13         14
    2022           15         16

In [26]:
# to exact multi 
branch_df2['delhi']['stuudents']

branch_df2.iloc[:,1::2]
branch_df2.iloc[:,1:3]

branch_df2.iloc[[0,4],[1,2]]

             delhi      mumbai
         stuudents avg_package
cse 2019         2           0
ese 2019        10           0

In [27]:
branch_df2
branch_df2.iloc[:,1:3]

             delhi      mumbai
         stuudents avg_package
cse 2019         2           0
    2020         4           0
    2021         6           0
    2022         8           0
ese 2019        10           0
    2020        12           0
    2021        14           0
    2022        16           0

In [28]:
# sort index
# both -> descending -> diff order
# based on one level

branch_df2.sort_index(ascending=False)
# here we pass a list that to do sorting seqence
branch_df2.sort_index(ascending=[False,True])

# 
branch_df2.sort_index(level=1,ascending=[False]) #level one means sorting acc to 1 col

               delhi                mumbai
         avg_package stuudents avg_package stuudents
cse 2022           7         8           0         0
ese 2022          15        16           0         0
cse 2021           5         6           0         0
ese 2021          13        14           0         0
cse 2020           3         4           0         0
ese 2020          11        12           0         0
cse 2019           1         2           0         0
ese 2019           9        10           0         0

In [29]:
# transpose method
branch_df2.T
branch_df2.transpose()

np.eye(3).transpose()
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [30]:
# swaping levels
branch_df2.swaplevel(axis=1)

# used in Pandas to swap the levels of a MultiIndex (hierarchical index) on the columns (axis 1) of a DataFrame.

         avg_package stuudents avg_package stuudents
               delhi     delhi      mumbai    mumbai
cse 2019           1         2           0         0
    2020           3         4           0         0
    2021           5         6           0         0
    2022           7         8           0         0
ese 2019           9        10           0         0
    2020          11        12           0         0
    2021          13        14           0         0
    2022          15        16           0         0

#### Long vs wide data

1) wide (tall) format is where we have a [single row] for every data point with multiple columns to hold te values of various attributes.


2) long format is where for each data point we have as many rows as the number of attribute and each row contains the value of a perticulae attributes for a given data point.

- melt (wide -- long)

- pivot  (long -- wide)

In [31]:
# both data format will give same info
# but in analyzing may differ 

# for that we see next two functions

# melt  ->  wide format ko long format  mhanje row extend karayche
# pivot -> long ko wide mai convert kar deta hai


# this is example for wide to long
pd.DataFrame({'cse':[120],
              'ese':[150],
              'mech':[50]}).melt(var_name='branch',value_name='students')

  branch  students
0    cse       120
1    ese       150
2   mech        50

In [32]:
# this example for long to wide

pd.DataFrame(
    {
        'branch':['cse','ese','mech'],
        '2020':[100,150,80],
        '2021':[120,160,90],
        '2022':[190,80,50]
    }
).melt(id_vars=['branch'],var_name='year',value_name='students')

# id_vars madhe je taknar tyache column madhe conversion honar nahi.

  branch  year  students
0    cse  2020       100
1    ese  2020       150
2   mech  2020        80
3    cse  2021       120
4    ese  2021       160
5   mech  2021        90
6    cse  2022       190
7    ese  2022        80
8   mech  2022        50

In [33]:
# yache work apalya jar proper format madhe data dila nhi tar 
# tyache conversion karayla yayla have.

In [34]:
death = pd.read_csv('time_series_covid19_deaths_global.csv')
confirm = pd.read_csv('time_series_covid19_confirmed_global.csv')

In [35]:
death.shape

(289, 1081)

In [36]:
confirm.head(2)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/24/22,12/25/22,12/26/22,12/27/22,12/28/22,12/29/22,12/30/22,12/31/22,1/1/23,1/2/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207310,207399,207438,207460,207493,207511,207550,207559,207616,207627
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333749,333749,333751,333751,333776,333776,333806,333806,333811,333812

In [37]:
death.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name='date',value_name='deaths')
# now this is a long data format
confirm.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name='date',value_name='confirm_report')
# these changes are permananet

,Province/State,Country/Region,Lat,Long,date,confirm_report
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
311248,NaN,West Bank and Gaza,31.952200,35.233200,1/2/23,703228
311249,NaN,Winter Olympics 2022,39.904200,116.407400,1/2/23,535
311250,NaN,Yemen,15.552727,48.516388,1/2/23,11945
311251,NaN,Zambia,-13.133897,27.849332,1/2/23,334661
311252,NaN,Zimbabwe,-19.015438,29.154857,1/2/23,259981

In [38]:
confirm.merge(death,on=['Province/State','Country/Region','Lat','Long','date'])

KeyError: 'date'